@font-face {
    font-family: 'NotoSans-Bold';
    src: url('../fonts/NotoSans-Bold.eot');
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
        url('../fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSans-Bold.woff2') format('woff2'),
        url('../fonts/NotoSans-Bold.woff') format('woff'),
        url('../fonts/NotoSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansDisplay-Regular';
    src: url('../fonts/NotoSansDisplay-Regular.eot');
    src: local('Noto Sans Display Regular'), local('NotoSansDisplay-Regular'),
        url('../fonts/NotoSansDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSansDisplay-Regular.woff2') format('woff2'),
        url('../fonts/NotoSansDisplay-Regular.woff') format('woff'),
        url('../fonts/NotoSansDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans-Light';
    src: url('../fonts/NotoSans-Light.eot');
    src: local('Noto Sans Light'), local('NotoSans-Light'),
        url('../fonts/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSans-Light.woff2') format('woff2'),
        url('../fonts/NotoSans-Light.woff') format('woff'),
        url('../fonts/NotoSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans-Medium';
    src: url('../fonts/NotoSans-Medium.eot');
    src: local('Noto Sans Medium'), local('NotoSans-Medium'),
        url('../fonts/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSans-Medium.woff2') format('woff2'),
        url('../fonts/NotoSans-Medium.woff') format('woff'),
        url('../fonts/NotoSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans-Regular';
    src: url('../fonts/NotoSans-Regular.eot');
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
        url('../fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSans-Regular.woff2') format('woff2'),
        url('../fonts/NotoSans-Regular.woff') format('woff'),
        url('../fonts/NotoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans-SemiBold';
    src: url('../fonts/NotoSans-SemiBold.eot');
    src: local('Noto Sans SemiBold'), local('NotoSans-SemiBold'),
        url('../fonts/NotoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSans-SemiBold.woff2') format('woff2'),
        url('../fonts/NotoSans-SemiBold.woff') format('woff'),
        url('../fonts/NotoSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'NotoSerif_Condensed-Medium';
    src: url('../fonts/NotoSerif_Condensed-Medium.eot');
    src: local('Noto Serif Condensed Medium'), local('NotoSerif_Condensed-Medium'),
        url('../fonts/NotoSerif_Condensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSerif_Condensed-Medium.woff2') format('woff2'),
        url('../fonts/NotoSerif_Condensed-Medium.woff') format('woff'),
        url('../fonts/NotoSerif_Condensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerif_Condensed-Regular';
    src: url('../fonts/NotoSerif_Condensed-Regular.eot');
    src: local('Noto Serif Condensed Regular'), local('NotoSerif_Condensed-Regular'),
        url('../fonts/NotoSerif_Condensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSerif_Condensed-Regular.woff2') format('woff2'),
        url('../fonts/NotoSerif_Condensed-Regular.woff') format('woff'),
        url('../fonts/NotoSerif_Condensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerifDisplay_Condensed-Black';
    src: url('../fonts/NotoSerifDisplay_Condensed-Black.eot');
    src: local('Noto Serif Display Condensed Black'), local('NotoSerifDisplay_Condensed-Black'),
        url('../fonts/NotoSerifDisplay_Condensed-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSerifDisplay_Condensed-Black.woff2') format('woff2'),
        url('../fonts/NotoSerifDisplay_Condensed-Black.woff') format('woff'),
        url('../fonts/NotoSerifDisplay_Condensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerifDisplay_Condensed-Regular';
    src: url('../fonts/NotoSerifDisplay_Condensed-Regular.eot');
    src: local('Noto Serif Display Condensed Regular'), local('NotoSerifDisplay_Condensed-Regular'),
        url('../fonts/NotoSerifDisplay_Condensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSerifDisplay_Condensed-Regular.woff2') format('woff2'),
        url('../fonts/NotoSerifDisplay_Condensed-Regular.woff') format('woff'),
        url('../fonts/NotoSerifDisplay_Condensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerifDisplay_Condensed-SemiBold';
    src: url('../fonts/NotoSerifDisplay_Condensed-SemiBold.eot');
    src: local('Noto Serif Display Condensed SemiBold'), local('NotoSerifDisplay_Condensed-SemiBold'),
        url('../fonts/NotoSerifDisplay_Condensed-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSerifDisplay_Condensed-SemiBold.woff2') format('woff2'),
        url('../fonts/NotoSerifDisplay_Condensed-SemiBold.woff') format('woff'),
        url('../fonts/NotoSerifDisplay_Condensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


h1 { 
    font-family:'NotoSerifDisplay_Condensed-Regular';
    font-weight: 400;
    font-size: clamp(3.2rem, 2rem + 2vw, 6rem);
    line-height: 100%;
    color: var(--white);

    @media (max-width:567px) {
        font-size: 42px;
    }
    @media (max-width:467px) {
        font-size: 40px;
    }
    @media (max-width:350px) {
        font-size: 34px;
    }

    b {
        font-family: 'NotoSerifDisplay_Condensed-Black';
    }
}


h4 {
    font-family:'NotoSerifDisplay_Condensed-Regular';
    font-weight: 900;
    font-size: 40px;
    line-height: 150%;
    color: var(--white);

    @media (max-width:991px) {
        font-size: 39px;
    }
    @media (max-width:767px) {
        font-size: 36px;
    }
    @media (max-width:567px) {
        font-size: 32px;
    }
    @media (max-width:467px) {
        font-size: 26px;
    }
}

h5 {
    font-family: 'NotoSerifDisplay_Condensed-Black';
    font-weight: 900;
    line-height: 150%;
    font-size: 32px;

    @media (max-width:767px) {
        font-size: 26px;
    }
    @media (max-width:567px) {
        font-size: 22px;
    }
    @media (max-width:467px) {
        font-size: 20px;
        line-height: 125%;
    }
    @media (max-width:367px) {
        font-size: 18px;
    }
}


p {
    font-family: 'NotoSans-Regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--white);

    @media (max-width:991px) {
        font-size: 19px;
    }
    @media (max-width:767px) {
        font-size: 18px;
    }
    @media (max-width:567px) {
        font-size: 16px;
    }
    @media (max-width:467px) {
        font-size: 14px;
    }
    @media (max-width:367px) {
        font-size: 12px;
    }
}