
@import "normalize.scss";
@import "fonts.scss";
@import "modules/variables.scss";
@import "modules/custom.scss";
@import "modules/animation.scss";



@import "modules/menu";


// div[class*="__decoration"] {
//     visibility: hidden;
//     opacity: 0;
//     transition: .2s ease;
// }
// div[class*="__decoration"].visible {
//     visibility: visible;
//     opacity: 1;
//     transition: .2s ease;
// }


// html, body {
// 	overflow-x: hidden;
// }








// freemode для pagePiling.js (костыли) <--- START --->
section {
    @media (max-width:1440px) {
        position: unset !important;
        display: flex !important;
        width: 100vw !important;
        height: 100vh !important;
        // padding: 120px 0 120px 0;
        transform: translate3d(0px, 0%, 0px) !important;
        // overflow-y: auto; /* Замените на auto для более надежной работы на мобильных устройствах */
    }
}

html {
	@media (max-width:1440px) {
		overflow-y: auto;
	}
}



html, body {
    @media (max-width:1440px) {
        height: auto;
        scroll-behavior: smooth;
        touch-action: auto;
    }
}

// freemode для pagePiling.js (костыли) <--- END --->



section {
	background-color: #145758;
}




.pp-viewing-page {
	&1 {
		.menu-swiper {
			opacity: 0;
			transition: .7s ease;
		}
	}
}


.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.twitter-share-button{
	position: fixed !important;
	z-index: 99;
	right: 149px;
	top: 9px;
}

#download{
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
	text-decoration:none;
	color:#fff;
}
#download:hover{
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2F96B4;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}

#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:638px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0 20px 0 0;
}
#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}

/* Section 1
 * --------------------------------------- */
#section1 {
	background-color: #145758;
}

/* Section 2
 * --------------------------------------- */

#section2 h1,
#section2 p{
	z-index: 3;
}
#section2 p{
	opacity: 0.8;
}



/* Section 3
 * --------------------------------------- */



/* Section 4
 * --------------------------------------- */

/* Overwriting fullPage.js tooltip color
* --------------------------------------- */
#pp-nav.custom .pp-tooltip{
	color: #AAA;
}


.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#starGithub{
	position: fixed;
	z-index: 99;
	right: 264px;
	top: 9px;
	width: 90px;
}



#myVideo{
	position: absolute;
	z-index: 4;
	right: 0;
	bottom: 0;
	top:0;
	right:0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-color: black; /* in case the video doesn't fit the whole page*/
	background-image: url(../img);
	background-position: center center;
	background-size: contain;
	object-fit: cover; /*cover video background */
}


.disabled-pagepiling {
    /* Скрыть страницы, когда отключен PagePiling */
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


#pp-nav {
	display: none !important;
}


/// <--- hero section --->
.hero {
	
	&__wrapper {
		position: relative;
		height: 100%;
		width: 100%;
		z-index: 5;

		display: flex;
		align-items: center;

		h1 {
			margin-left: 240px;
			
			text-align: left;
			color: var(--white);

			@media (max-width:991px) {
				margin-left: 120px;
			}
			@media (max-width:767px) {
				margin-left: 60px;
			}
			@media (max-width:676px) {
				margin-left: 32px;
			}
		}

	}
	&__decoration {
		position: relative;
		height: 100%;
		width: 100%;

		z-index: -5;

		.decoration-block {
			z-index: -5;
			&-1 {
				position: absolute;
	
				background: var(--accent);
				width: 110px;
				height: 110px;
				right: -11%;
				bottom: 324px;

				@media (max-width:1440px) {
					height: 26px;
					bottom: 223px;
				}
				@media (max-width:567px) {
					width: 165px;
					height: 14px;
					bottom: 170px;
				}
			}
	
			&-2 {
				position: absolute;
				background: var(--bg-dark);
				width: clamp(30rem, 16rem + 7vw, 24rem);
				height: 400px;
				opacity: 0.8;
				bottom: -75px;
				right: -11%;

				@media (max-width:1440px) {
					height: 300px;
				}
				@media (max-width:567px) {
					width: 280px;
					height: 210px;
					bottom: -40px;
					right: -50%;
				}
			}
			&-3 {
				position: absolute;
				background: var(--accent);
				width: clamp(26rem, 16rem + 7vw, 24rem);
				height: 70px;
				bottom: -145.5px;
				right: -22.5%;

				@media (max-width:567px) {
					display: none;
				}
			}
		}
		
	}
}

/// <--- about section --->

section.section.about {
	@media (max-width:1440px) {
		height: 1500px !important;
	}
}

section.section.projects {
	@media (max-width:1440px) {
		height: auto !important;
	}
}

section.section.info {
	@media (max-width:1440px) {
		height: auto !important;
	}
}

.about {
	

	&__wrapper {
		position: relative;
		height: 100%;
		width: 100%;

		& > img.dc-mobile {
			display: none;
			position: absolute;
			left: 0;

			@media (max-width:1440px) {
				display: block;
				z-index: 5;
				top: 10%;
			}
		}
	}
	&__img {
		position: absolute;
		mix-blend-mode: multiply;

		right: 0;
    	height: 100%;

		@media (max-width:1440px) {
			height: 50%;
			width: 80%;
			object-fit: cover;
		}
	}

	&__decoration {
		// position: absolute;
		// height: 100%;
		width: 100%;
		top: 0;

		z-index: 1;

		.decoration-block {
			&-1 {
				position: absolute;
				mix-blend-mode:plus-lighter;
				background-color: #145758;
				height: 600px;
				width: 470px;
				right: 15%;
				top: 10%;
				@media (max-width:1440px) {
					height: 40%;
					left: 0;
					width: 66%;
					/* top: 0; */
					bottom: 50%;
				}
				@media (max-width:991px) {
					// bottom: 0;
					// top: unset;
				}
			}
			&-2 {
				position: absolute;
				width: 110px;
				height: 110px;
				background: var(--accent-dark);
				bottom: 0;
				right: 10%;

				@media (max-width:1440px) {
					right: 0;
					top: 43%;
					background: #ff004c;
				}
				@media (max-width:676px) {
					top: 34%;
				}
				@media (max-width:567px) {
					width: 60px;
					height: 60px;
					top: 37%;

				}
			}
		}
	}

	&-text {
		padding: 50px;
		background: var(--accent-dark);
		// width: 627px;
		// height: 468px;

		max-width: 500px;

		z-index: 6;

		position: relative;

		left: 20%;
		top: 8.5%;

		display: flex;
		flex-direction: column;
		gap: 34px;

		@media (max-width:2500px) {
			left: 26%;
		}
		// @media (max-width:1800px) {
		// 	left: 35%;
		// }
		@media (max-width:1440px) {
			max-width: 100vw;
			left: 0;
			top: 50%;
			padding: 40px;
			gap: 26px;
		}
		@media (max-width:767px) {
			padding: 35px;
			gap: 20px;
		}
		@media (max-width:676px) {
			padding: 24px;
			top: 41%;
		}
		@media (max-width:567px) {
			padding: 30px;
		}

		h4 {
			text-align: left;
		}

		p {
			text-align: left;
		}

		.text__decoration {
		
			img {
				position: absolute;
			}
			
			img.dc {
				left: -186px;
				bottom: 0;

				@media (max-width:991px) {
					display: none;
				}
			}
			img.link {
				left: 0;
				bottom: -74px;

				border-bottom: 17px solid var(--accent);

				transition: .2s ease;

				@media (max-width:1440px) {
					height: 57px;
					object-fit: cover;
					width: 100%;				
				}


				@media (max-width:1440px) {
					display: none;
				}

				&:hover {
					transition: .2s ease;
					
				}
			}

			.divider {
				background-color: var(--accent);
				width: 186px;
				height: 50px;
				position: absolute;
				left: -186px;
				bottom: 40px;
			}

			a {
				position: absolute;
				bottom: -57px;
				left: 70px;

				font-family: var(--font-family);
				font-weight: 700;
				font-size: 14px;
				bottom: -69px;

				line-height: 100%;
				letter-spacing: 0.2em;
				color: var(--white);

				@media (max-width:1440px) {
					position: unset;
					padding-top: 30px;	
					display: flex;
				}

				&:hover {
					transition: .2s ease;
					
				}
				
					div {
						display: flex;

						
						
						position: relative;

						svg {
							position: relative;
							margin-right: 20px;
							bottom: 4px;
						}
					}
			}
		}
	}

	&-tips {
		display: grid;
		grid-template-columns: 2fr 2fr;
		gap: 60px;

		bottom: 10%;
		left: 175px;
		
    	position: absolute;

		@media (max-width:1440px) {
			right: 0;
			left: 0;
			bottom: 0;
			padding: 30px;
		}
		@media (max-width:1199px) {
			
		}
		@media (max-width:991px) {
			gap: 30px;
		}
		@media (max-width:767px) {
			gap: 30px;
			padding: 24px;
		}
		@media (max-width:676px) {
			display: flex;
    		flex-direction: column;
		}
		@media (max-width:567px) {
			margin-bottom: 120px;
		}
		@media (max-width:467px) {
			gap: 24px;
		}

		.tips__block {
			display: flex;
			align-items: center;
			gap: 20px;

			transition: .2s ease;

			a {
				display: flex;
				align-items: center;
			}

			p {
				font-family: 'NotoSans-Light';
				font-weight: 300;
				font-size: 18px;
				line-height: 150%;
				color: var(--white);

				max-width: 450px;

				@media (max-width:991px) {
					font-size: 19px;
				}
				@media (max-width:767px) {
					font-size: 18px;
				}
				@media (max-width:567px) {
					font-size: 16px;
				}
				@media (max-width:467px) {
					font-size: 14px;
				}
				@media (max-width:367px) {
					font-size: 12px;
				}
			}

			svg {
				transition: .2s ease;
				width: 64px;
				height: 64px;
				flex-shrink: 0;

			}

			&:hover {
				transition: .2s ease;
			
				p {
					transition: .2s ease;
					text-shadow: #fff 0px 0px 2px;
				}

				svg {
					transition: .2s ease;
					transform: scale(1.05);
					
				}
			}
			
		}

		p {
			text-align: left;
			transition: .2s ease;
		}
	}
}

/// <--- projects section --->
.projects {
	&__wrapper {
		position: relative;
		height: 100%;
		width: 100%;


	}

	&__desktop {
		@media (max-width:1440px) {
			display: none;
		}
	}

	&__bg {
		position: absolute;
		mix-blend-mode: multiply;
		right: 0;
		left: 0;

		width: 100%;
		height: 100%;
		object-fit: cover;

		margin:  0 auto;

		opacity: 1;
		visibility: visible;
		transition: .2s ease;


		&.hidden {
			transition: .2s ease;
			opacity: 0;
			visibility: hidden;
		}

		&.mobile {
			display: none;
			@media (max-width:991px) {
				display: block;
			}
		}

		&:not(.mobile) {
			@media (max-width:991px) {
				display: none;
			}
		}
	}

	&__tabs {
		display: flex;
		flex-direction: column;
		gap: 30px;

		padding: 50px;
		width: 688px;
		height: fit-content;
		
		background: rgba(19, 45, 46, 0.8);


		position: absolute;
		top: 240px;
		left: 200px;

		@media (max-width:2230px) {
			left: 70px;
    		width: 500px;
		}
		@media (max-width:1860px) {
			width: 400px;
		}
		@media (max-width:1760px) {
			width: 300px;
		}
		@media (max-width:1660px) {
			width: 300px;
			padding: 35px;
		}

		span {
			text-align: left;

			font-family: var(--font-family);
			font-weight: 700;
			font-size: 14px;
			line-height: 100%;
			letter-spacing: 0.2em;
			color: #fff;
		}

		p {
			font-family: 'NotoSerifDisplay_Condensed-Regular';
			font-weight: 400;
			font-size: 32px;
			line-height: 150%;
			color: #fff;
			opacity: .3;

			transition: .2s ease;

			text-align: left;

			cursor: pointer;

			&:hover {
				transition: .2s ease;
				font-family: 'NotoSerifDisplay_Condensed-Black';
				opacity: 1;
			}

			&.active {
				transition: .2s ease;
				opacity: 1;

				font-family: 'NotoSerifDisplay_Condensed-Black';
				
			}
		}
	}

	&__blocks {
		position: absolute;
		top: 100px;
		right: 5%;
		display: grid;
		grid-template-columns: 2fr 2fr;
		gap: 70px;
		opacity: 1;
		visibility: visible;
		 transition: opacity .25s ease, transform .5s ease;
		transform: translateY(0px);

		@media (max-width:1920px) {
			
		}

		@media (max-width:1660px) {
			gap: 35px;
			
		}

		&.hidden {
			opacity: 0;
			 transition: opacity .25s ease, transform .5s ease;
			visibility: hidden;
			transform: translateY(200px);
		}

		&.development {
			z-index: 10;
			.block {
				&.first {
					background: #ba9b71;
				}
			}
		}
		&.business {
			z-index: 9;
			.block {
				&.first {
					background: #be1421;
				}
				&.second {
					background: #5e4982;
				}
				&.third {
					background: #c5956b;
					opacity: 1;
				}
				&.fourth {
					background: #008d36;
					
				}
			}
		}
		&.medicine {
			z-index: 8;
			.block {
				&.first {
					background: #2b74b9;
				}
				&.second {
					background: #008d36;
				}
			}
		}
		&.hotels {
			z-index: 7;
			.block {
				&.first {
					background: #be1421;
				}
				&.second {
					background: #ba9b71;
				}
					
				
			}
		}

		.block {
			padding: 50px;
			width: 400px;
			height: 400px;
			max-height: 500px;

			display: flex;
			flex-direction: column;
			gap: 30px;

			@media (max-width:1660px) {
				padding: 35px;
			}


			@media (max-height:1100px) {
				padding: 25px;
				height: fit-content;
			}

			&__top {
				display: flex;

				svg {
					@media (max-height:1100px) {
						width: 240px;
						height: 60px;
					}
				}

			}
			&__body {
				text-align: left;

				p {
					white-space: nowrap;

					@media (max-height:1100px) {
						font-size: 18px;
					}
				}
			}
			&__footer {
				text-align: left;

				a {
					font-family: var(--font-family);
					font-weight: 700;
					font-size: 14px;
					line-height: 100%;
					letter-spacing: 0.2em;
					color: #fff;
					border-bottom: 3px solid #fff;
				}
			}
		}
	}
}


.accordion__blocks {
	display: grid;
	grid-template-columns: 2fr 2fr;
	gap: 30px;

	margin-top: 10px;
	margin-bottom: 40px;

	@media (max-width:900px) {
		grid-template-columns: 1fr;
	}

	&.development {
		z-index: 10;
		.block {
			&.first {
				background: #ba9b71;
			}
		}
	}
	&.business {
		z-index: 9;
		.block {
			&.first {
				background: #be1421;
			}
			&.second {
				background: #5e4982;
			}
			&.third {
				background: #c5956b;
				opacity: 1;
			}
			&.fourth {
				background: #008d36;
				
			}
		}
	}
	&.medicine {
		z-index: 8;
		.block {
			&.first {
				background: #2b74b9;
			}
			&.second {
				background: #008d36;
			}
		}
	}
	&.hotels {
		z-index: 7;
		.block {
			&.first {
				background: #be1421;
			}
			&.second {
				background: #ba9b71;
			}
				
			
		}
	}

	.block {
		padding: 50px 50px 0 50px;
		width: 400px;
		height: 400px;
		max-height: 500px;

		display: flex;
		flex-direction: column;
		gap: 30px;

		@media (max-width:1660px) {
			padding: 35px 35px 0 35px;
		}

		@media (max-width:1440px) {
			width: fit-content;
			height: fit-content;

			padding: 50px;
		}

		@media (max-width:991px) {
			// width: 100%;
			// height: 100%;
			max-height: unset;
			padding: 45px;
		}

		@media (max-width:945px) {
			padding: 35px;
		}
		@media (max-width:467px) {
			padding: 25px;
			gap: 20px;
		}

		&__top {
			display: flex;

			svg {
				@media (max-width:991px) {
					width: 240px;
					height: 60px;
				}
				@media (max-width:467px) {
					width: 180px;
					height: 50px;
				}
			}
		}
		&__body {
			text-align: left;

			p {
				white-space: nowrap;

				@media (max-width:1440px) {
					white-space: unset;
					
					br {
						display: none;
					}
				}
			}
		}
		&__footer {
			text-align: left;

			a {
				font-family: var(--font-family);
				font-weight: 700;
				font-size: 14px;
				line-height: 100%;
				letter-spacing: 0.2em;
				color: #fff;
				border-bottom: 3px solid #fff;
			}
		}
	}
}



.accordion dl,
.accordion-list {

	width: 100%;


}

.accordion dd,
.accordion__panel {

	font-size: 1em;
	line-height: 1.5em;

	@media (max-width:1440px) {
		padding: 0 30px;
	}
	@media (max-width:467px) {
		padding: 0 24px;
	}
}


.accordion {
	position: relative;
	background-color: transparent;

	display: none;

	@media (max-width:1440px) {
		display: flex;
		justify-content: center;
	}
}

.container {
	// max-width: 960px;
	margin: 0 auto;
	padding: 1em;
}

.accordionTitle,
.accordion__Heading {
	text-align: left;
	display: block;
	text-decoration: none;
	color: #fff;
	transition: background-color 0.5s ease-in-out;

	font-family: "NotoSerifDisplay_Condensed-Regular";
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #fff;
    transition: 0.2s ease;
    text-align: left;
    cursor: pointer;

	padding: 15px 30px;

	@media (max-width:467px) {
		padding: 15px 24px;
	}

	&:before {
		content: '';
		background-image: url(../img/accordion-thumbler.svg);
		background-repeat: no-repeat;
		width: 30px;
		height: 30px;
		float: right;
		transition: transform 0.3s ease-in-out;
		margin-top: 9px;
	}
	
	
	&:hover {
		
	}
}

.accordionTitleActive,
.accordionTitle.is-expanded {
	
	&:before {
		transform: rotate(180deg);

	}
}

.accordionItem {
	height: auto;
	overflow: hidden; //SHAME: magic number to allow the accordion to animate
	max-height: 100em;
	transition: max-height 1s;
	// @media screen and (min-width: 48em) {
	// 	max-height:15em;
	// 	transition: max-height 0.5s
	// }
}

.accordionItem.is-collapsed {
	max-height: 0;
}

.no-js .accordionItem.is-collapsed {
	max-height: auto;
}

.animateIn {
	animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
	animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@keyframes accordionIn {
	0% {
		opacity: 0;
		transform: scale(0.9) rotateX(-60deg);
		transform-origin: 50% 0;
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes accordionOut {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0.9) rotateX(-60deg);
	}
}


.normal-scroll {
	overflow-y: scroll;
	height: 100vh;
}







// <--- info section --->
.info {

	&__desktop {
		@media (max-width:1440px) {
			display: none;
		}
	}
	
	&__wrapper {
		position: relative;
		height: 100%;
		width: 100%;


	}

	&__tabs {
		display: flex;
		flex-direction: column;
		gap: 30px;

		padding: 50px;
		width: 688px;
		height: fit-content;
		
		background-color: #145758;


		z-index: 2;


		position: absolute;
		top: 180px;
		left: 200px;

		@media (max-width:2230px) {
			left: 70px;
			top: 100px;
		}
		@media (max-width:1860px) {

		}
		@media (max-width:1760px) {

		}
		@media (max-width:1660px) {

			padding: 35px;
		}

		span {
			text-align: left;

			font-family: var(--font-family);
			font-weight: 700;
			font-size: 14px;
			line-height: 100%;
			letter-spacing: 0.2em;
			color: #fff;
		}

		p {
			font-family: 'NotoSerifDisplay_Condensed-Regular';
			font-weight: 400;
			font-size: 32px;
			line-height: 150%;
			color: #fff;
			opacity: .3;

			transition: .2s ease;

			text-align: left;

			cursor: pointer;
			
			position: relative;

			width: fit-content;

			&:after {
				position: absolute;
				content: "";
				bottom: -18px;
				left: 0;
				width: 0;
				height: 15px;
				z-index: 9;
				background: var(--accent); 
				transition: .7s
			}

			&:hover {
				transition: .2s ease;
				opacity: 1;

				font-family: 'NotoSerifDisplay_Condensed-Black';
				// text-shadow: #fff 0px -5px 0px;
				// color: transparent;

				transform: translateY(-7.5px);

				&:after {
					width: calc(100% - 50px);
				}
				
			}

			&.active {
				transition: .2s ease;
				opacity: 1;

				font-family: 'NotoSerifDisplay_Condensed-Black';
				// text-shadow: #fff 0px -5px 0px;
				// color: transparent;
				
				transform: translateY(-7.5px);

				&:after {
					width: calc(100% - 50px);
				}
			}
		}
	}

	&__blocks {
		z-index: 5;

		position: absolute;
		top: 240px;
		right: 40%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

		gap: 70px;
		opacity: 1;
		visibility: visible;
		 transition: opacity .25s ease, transform .5s ease;
		transform: translateY(0px);

		@media (max-width:2000px) {
			right: 25%;
		}
		@media (max-width:1660px) {
			right: 20%;
		}

		@media (max-width:1660px) {
			gap: 35px;
			
		}

		&.hidden {
			opacity: 0;
			 transition: opacity .25s ease, transform .5s ease;
			visibility: hidden;
			transform: translateY(200px);
		}

		

		.block {
			

			display: flex;
			flex-direction: column;
			gap: 30px;

				

			

			&.hidden {
				opacity: 0;
				display: none;
			}


			&__top {
				display: flex;
			}
			&__body {
				text-align: left;

				padding: 50px;
				background-color: #145758;
				z-index: 5;		

				@media (max-width:1660px) {
					padding: 35px;
				}

				p {
					white-space: nowrap;
				}
			}
			&__footer {
				text-align: left;

				a {
					font-family: var(--font-family);
					font-weight: 700;
					font-size: 14px;
					line-height: 100%;
					letter-spacing: 0.2em;
					color: #fff;
					border-bottom: 3px solid #fff;
				}
			}
		}
	}

	&__img {
		position: absolute;
		right: -35vw;
		top: -5vw;

		z-index: -5;

		@media (max-width:2000px) {
			right: -25vw;
		}
		@media (max-width:1660px) {
			right: -20vw;
		}
	}

	&__badge {

		z-index: 4;

		position: absolute;
		right: 0;
		bottom: 0;

		text-align: left;

		padding: 60px 40px;
		background: #31ceab;

		opacity: 0;

		transition: opacity .25s ease, transform .5s ease-in;
		transform: translateY(50px);

		p {
			color: var(--bg-dark);
		}

		&.visible {
			transition: opacity .25s ease, transform .5s ease-out;
			transform: translateY(0px);
			opacity: 1;
		}

		@media (max-width:1440px) {
			display: none;
		}
	}




	&__mobile {
		padding: 30px;
		display: none;

		@media (max-width:1440px) {
			display: block;
		}

		@media (max-width:567px) {
			padding: 0 0 120px 0;
		}

		ul {
			display: flex;
			flex-direction: column;
			list-style: none;

			gap: 32px;

			text-align: left;

			background: #115d5f;

			padding: 16px 30px;
			
		}
		h5 {
			margin-bottom: 18px;
			position: relative;

			&::after {
				content: '';
				position: absolute;
				right: 0;
				bottom: 8px;
				width: 40px;
				height: 1px;
				background-color: #fff;
				display: none;

				@media (max-width:567px) {
					display: block;
				}
			}
		}
		p {
			background: #1c6768;
			padding: 10px;

			font-family: 'NotoSans-Regular';
		}
	}
}