
@import "normalize.scss";
@import "fonts.scss";
@import "modules/variables.scss";
@import "modules/custom.scss";
@import "modules/animation.scss";



@import "modules/menu";


// div[class*="__decoration"] {
//     visibility: hidden;
//     opacity: 0;
//     transition: .2s ease;
// }
// div[class*="__decoration"].visible {
//     visibility: visible;
//     opacity: 1;
//     transition: .2s ease;
// }


// html, body {
// 	overflow-x: hidden;
// }

.pp-viewing-page {
	&1 {
		.menu-swiper {
			opacity: 0;
			transition: .7s ease;
		}
	}
}


.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.twitter-share-button{
	position: fixed !important;
	z-index: 99;
	right: 149px;
	top: 9px;
}

#download{
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
	text-decoration:none;
	color:#fff;
}
#download:hover{
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2F96B4;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}

#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:638px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0 20px 0 0;
}
#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}

/* Section 1
 * --------------------------------------- */


/* Section 2
 * --------------------------------------- */
#section2 {
	background-color: #145758;
}
#section2 h1,
#section2 p{
	z-index: 3;
}
#section2 p{
	opacity: 0.8;
}

#section2 #colors{
	right: 60px;
	bottom: 0;
	position: absolute;
	height: 413px;
	width: 258px;
	background-image: url(imgs/colors.gif);
	background-repeat: no-repeat;
}

/* Section 3
 * --------------------------------------- */
#section3 #colors{
	left: 60px;
	bottom: 0;
}
#section3 p{
	color: #757575;
}

#colors2,
#colors3{
	position: absolute;
	height: 163px;
	width: 362px;
	z-index: 1;
	background-repeat: no-repeat;
	left: 0;
	margin: 0 auto;
	right: 0;
}
#colors2{
	background-image: url(imgs/colors2.gif);
	top:0;
}
#colors3{
	background-image: url(imgs/colors3.gif);
	bottom:0;
}

/* Section 4
 * --------------------------------------- */
#section4 p{
	opacity: 0.6;
}

/* Overwriting fullPage.js tooltip color
* --------------------------------------- */
#pp-nav.custom .pp-tooltip{
	color: #AAA;
}


.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#starGithub{
	position: fixed;
	z-index: 99;
	right: 264px;
	top: 9px;
	width: 90px;
}



#myVideo{
	position: absolute;
	z-index: 4;
	right: 0;
	bottom: 0;
	top:0;
	right:0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-color: black; /* in case the video doesn't fit the whole page*/
	background-image: url(../img);
	background-position: center center;
	background-size: contain;
	object-fit: cover; /*cover video background */
}


.disabled-pagepiling {
    /* Скрыть страницы, когда отключен PagePiling */
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


#pp-nav {
	display: none !important;
}


/// <--- hero section --->
.hero {
	
	&__wrapper {
		position: relative;
		height: 100%;
		width: 100%;
		z-index: 5;

		display: flex;
		align-items: center;

		h1 {
			margin-left: 240px;
			
			text-align: left;
			color: var(--white);

			@media (max-width:991px) {
				margin-left: 120px;
			}
			@media (max-width:767px) {
				margin-left: 60px;
			}
			@media (max-width:676px) {
				margin-left: 32px;
			}
		}

	}
	&__decoration {
		position: relative;
		height: 100%;
		width: 100%;

		z-index: -5;

		.decoration-block {
			z-index: -5;
			&-1 {
				position: absolute;
	
				background: var(--accent);
				width: 110px;
				height: 110px;
				right: -11%;
				bottom: 324px;

				@media (max-width:1440px) {
					height: 26px;
					bottom: 223px;
				}
				@media (max-width:567px) {
					width: 165px;
					height: 14px;
					bottom: 170px;
				}
			}
	
			&-2 {
				position: absolute;
				background: var(--bg-dark);
				width: clamp(30rem, 16rem + 7vw, 24rem);
				height: 400px;
				opacity: 0.8;
				bottom: -75px;
				right: -11%;

				@media (max-width:1440px) {
					height: 300px;
				}
				@media (max-width:567px) {
					width: 280px;
					height: 210px;
					bottom: -40px;
					right: -50%;
				}
			}
			&-3 {
				position: absolute;
				background: var(--accent);
				width: clamp(26rem, 16rem + 7vw, 24rem);
				height: 70px;
				bottom: -145.5px;
				right: -22.5%;

				@media (max-width:567px) {
					display: none;
				}
			}
		}
		
	}
}

/// <--- about section --->
.about {
	

	&__wrapper {
		position: relative;
		height: 100%;
		width: 100%;

		& > img.dc-mobile {
			display: none;
			position: absolute;
			left: 0;

			@media (max-width:1440px) {
				display: block;
				z-index: 5;
			}
		}
	}
	&__img {
		position: absolute;
		mix-blend-mode: multiply;

		right: 0;
    	height: 100%;

		@media (max-width:1440px) {
			height: 33%;
			width: 80%;
			object-fit: cover;
		}
	}

	&__decoration {
		// position: absolute;
		height: 100%;
		width: 100%;
		top: 0;

		z-index: 1;

		.decoration-block {
			&-1 {
				position: absolute;
				mix-blend-mode:plus-lighter;
				background-color: #145758;
				height: 600px;
				width: 470px;
				right: 15%;
				top: 10%;
				@media (max-width:1440px) {
					right: 0;
					width: 100%;
				}
			}
			&-2 {
				position: absolute;
				width: 110px;
				height: 110px;
				background: var(--accent-dark);
				bottom: 0;
				right: 10%;
			}
		}
	}

	&-text {
		padding: 50px;
		background: var(--accent-dark);
		// width: 627px;
		// height: 468px;

		max-width: 500px;

		z-index: 6;

		position: relative;

		left: 20%;
		top: 8.5%;

		display: flex;
		flex-direction: column;
		gap: 34px;

		@media (max-width:2500px) {
			left: 26%;
		}
		@media (max-width:1800px) {
			left: 35%;
		}
		@media (max-width:1440px) {
			max-width: 100vw;
			left: 0;
			top: 33%;
		}

		h4 {
			text-align: left;
		}

		p {
			text-align: left;
		}

		.text__decoration {
		
			img {
				position: absolute;
			}
			
			img.dc {
				left: -186px;
				bottom: 0;

				@media (max-width:991px) {
					display: none;
				}
			}
			img.link {
				left: 0;
				bottom: -74px;

				border-bottom: 17px solid var(--accent);

				transition: .2s ease;

				@media (max-width:1440px) {
					height: 57px;
					object-fit: cover;
					width: 100%;				
				}

				&:hover {
					transition: .2s ease;
					
				}
			}

			.divider {
				background-color: var(--accent);
				width: 186px;
				height: 50px;
				position: absolute;
				left: -186px;
				bottom: 40px;
			}

			a {
				position: absolute;
				bottom: -57px;
				left: 70px;

				font-family: var(--font-family);
				font-weight: 700;
				font-size: 14px;
				bottom: -69px;

				line-height: 100%;
				letter-spacing: 0.2em;
				color: var(--white);

				&:hover {
					transition: .2s ease;
					
				}
				
					div {
						display: flex;

						
						
						position: relative;

						svg {
							position: relative;
							margin-right: 20px;
							bottom: 4px;
						}
					}
			}
		}
	}
}

