// header menu  ------------------------------------------  ------------------------------------------ ------------------------------------------
.header {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 10;

    display: flex;
    justify-content: space-between;

    padding: 40px 0 30px 30px;

    top: 0;

    @media (max-width:1440px) {
        display: none;
    }
    @media (max-width:567px) {
        padding: 30px 0 20px 20px;
    }

    &.mobile {
        display: none;
        @media (max-width:1440px) {
            display: flex;
        }
    }

    &-logo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;

        font-family: 'NotoSans-Regular';
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: var(--white);

        @media (max-width:567px) {
            font-size: 12px;
            
        }

        a {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            font-family: 'NotoSans-Regular';
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: var(--white);
        }

        svg {
            @media (max-width:567px) {
                width: 171px;
                height: 40px;
            }
        }
    }

    .menu {
        width: fit-content;
        height: fit-content;
        padding-right: 48px;

        @media (max-width:991px) {
            display: none;
        }

        &-swiper {
            transition: .7s ease;

            .swiper-slide {
                width: 140px !important;
                height: fit-content;
            }
        }
    }
}
 

/* Menu
 * --------------------------------------- */
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;

	-webkit-border-radius: 10px;
            border-radius: 10px;

            &.header-logo {
                background: none;
                display: flex;
                flex-direction: column;
            }
}

#menu li a{
	font-family: var(--font-family);
    font-weight: 700;
    font-size: .5rem;
    line-height: 100%;
    letter-spacing: 0.2em;
    color: var(--white);

    transition: .2s ease;
    opacity: 0.5;
}
#menu li.active a:hover{
    transition: .2s ease;
	opacity: 1;
}

#menu li a,
#menu li.active a{
    transition: .2s ease;
    opacity: 1;
    color: var(--white);
}
#menu li.active a{
	color: #fff;
}




.menu-cnt {
   
    display: block;
    position: fixed;
    top: 25px;
    right: 25px;
    width: 450px;
   
    opacity: 0;
    transform: translate3d(0,-200px,0);
    transition: .7s cubic-bezier(.455,.03,.515,.955);

    @media (max-width:1440px) {
        display: none;
    }

    .swiper-slide-prev {
        opacity: 0;
        transition: .4s ease;

        &.exclude {
            opacity: 1 !important;
        }

    }
    .swiper-slide {
        opacity: 0;
        transition: .4s ease;

        &.exclude {
            opacity: 1 !important;
        }
    }
    .swiper-slide-next {
        opacity: 1;
        transition: .4s ease;
    }
    .swiper-slide-active {
        opacity: 1;
        transition: .4s ease;
    }
}

.menu-cnt.on {
    transform: translateZ(0);
}

.menu-cnt.active {
    opacity: 1;
}
.menu-cnt {
    right: 100px;
}

.menu-cnt #menu {
    list-style: none;
    padding: 0;
}

.menu-cnt #menu li {
    position: relative;
}

.menu-cnt #menu li i {
    position: absolute;
    top: 0;
    right: -10px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    color: #FF171F;
}

.menu-cnt #menu li a {
    position: relative;
    opacity: .5;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;

    text-align: left;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0.2em;
    color: #fff;
    
}

.menu-cnt #menu li a span {
    opacity: 0;
}

.menu-cnt #menu li.swiper-slide-active a {
    opacity: 1;
}

.menu-cnt #menu li i {
    top: 2px;
}


.menu-cnt #menu li:nth-child(2) i {
    right: -40px
}

.menu-cnt #menu li:nth-child(3) i {
    right: -46px;
    
}

.menu-cnt #menu li:nth-child(4) i {
    right: -43px;
}

.menu-cnt #menu li:nth-child(5) i {
    right: -40px;
}

.menu-cnt #menu li:nth-child(4) a {
    right: -30px;
}



// fullscreen menu ------------------------------------------ ------------------------------------------  ------------------------------------------
.nav ul.main {
    list-style: none;
    padding: 100px 200px;
    margin: 0;
    position: relative;

    @media (max-width:1440px) {
        padding: 50px;
    }
    @media (max-width:991px) {
        padding: 50px 45px;
    }
    @media (max-width:567px) {
        padding: 40px 40px;
    }

}

.nav ul.main li {
    display: flex;
    width: fit-content;
    margin: 0 0 20px
}

.nav ul.main li a {
    display: inline-block;
    position: relative;
    width: auto;
    font-family:'NotoSerifDisplay_Condensed-Regular';
    font-weight: 400;
    font-size: 54px;
    line-height: 80px;
    color: #fff;
    
    transition: .7s;

    @media (max-width:991px) {
        font-size: 48px;
        line-height: 60px;
    }
    @media (max-width:767px) {
        font-size: 42px;
    }
    @media (max-width:567px) {
        font-size: 36px;
    }

    &.mobile {
        display: none;
        @media (max-width:1440px) {
            display: flex;
        }
    }
    &:not(.mobile) {
        @media (max-width:1440px) {
            display: none;
        }
    }
}



.nav ul.main li a span {
    position: relative;
    z-index: 99;
    
}

.nav ul.main li a:before {
    position: absolute;
    content: "//";
    font-size: 54px;
    color: #fff;
    left: 0;
    top: 0;
    z-index: 9;
    opacity: 0;
    transition: .7s;
    font-family: 'NotoSans-Regular';
}

.nav ul.main li a:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50px;
    width: 0;
    height: 15px;
    z-index: 9;
    background: var(--accent); 
    transition: .7s
}

.nav ul.main li:hover a {
    color: #fff;
    padding-left: 50px;
    font-family: 'NotoSerifDisplay_Condensed-Black';

    
}

.nav ul.main li:hover ~ li a {
    opacity: 0.25; /* Устанавливаем прозрачность 0.5 для всех остальных элементов <li> */
}


.nav ul.main li:hover a:after {
    width: calc(100% - 50px)
}

.nav ul.main li:hover a:before {
    opacity: 1
}



/// <--- fullscreen menu -->
.fullscreen-menu__button {
	position: fixed;
    z-index: 100;
    bottom: 50%;
    left: 30px;
	
	cursor: pointer;

	transition: .2s ease;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;

	font-family: var(--font-family);
	font-weight: 700;
	font-size: 10px;
	line-height: 100%;
	letter-spacing: 0.2em;
	color: var(--white);

    @media (max-width:1440px) {
        right: 24px;
        left: unset;
        top: 40px;
        height: fit-content;
    }

	&:hover {
		transition: .2s ease;
		svg {
			transition: .2s ease;
			transform: translateX(24px);
		}
	}

	svg {
		transition: .2s ease;
	}
}

.fullscreen-menu__button-close {
    position: absolute;

    bottom: 51%;
    left: 52px;
	
	cursor: pointer;

	transition: .2s ease;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;

	font-family: var(--font-family);
	font-weight: 700;
	font-size: 10px;
	line-height: 100%;
	letter-spacing: 0.2em;
	color: var(--white);


    @media (max-width:1440px) {
        
        height: fit-content;
        width: fit-content;
        top: 40px;
        right: 24px;
        left: unset;
    }

    @media (max-width:991px) {
        right: 24px;
        left: unset;
        top: 40px;
        height: fit-content;
    }

	&:hover {
		transition: .2s ease;
		svg {
			transition: .2s ease;
			transform: scale(1.25);
		}
	}

	svg {
		transition: .2s ease;
	}
}

.fullscreen-menu-section {
	position: fixed;
	top: 0;
	left: -100%; /* начальное положение за пределами экрана */
	width: 100%; /* ширина меню */
	// max-width: 100vw; /* максимальная ширина */
	// height: 100vh; /* чтобы занять весь экран */

    height: 100%;

	background-color: #145758; /* Цвет фона вашего меню */
	transition: left 0.3s ease; /* добавление плавного эффекта */
	z-index: 100;
	
}
.fullscreen-menu-section.open {
	left: 0; /* показать меню при открытии */
}


.fullscreen-menu__button-close {
    z-index: 100;
}

.fullscreen-menu-header {
	width: 100%;
    height: auto;
    
    z-index: 100;

    display: flex;
    justify-content: space-between;

    padding: 40px 0 30px 30px;

    &-logo {
        display: flex;
        flex-direction: column;
        gap: 4px;

        font-family: 'NotoSans-Regular';
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: var(--white);
    }
}