$red: #F00714;
$black: #101010;
$gray: #ACACAC;
$lightgray: #EEEEEE;
$white: #FFFFFF;

:root {
	--logo-color: #145758;
	--logo-definitor: #9da1a4;
	--white: #fff;
	--accent: #ff004d;
	--accent-dark: #8c002a;
	--bg-dark: #132d2e;
	--bg-light: #31ceab;
}

:root {
    --font-family: "Noto Sans", sans-serif;
    --second-family: "Noto Serif", sans-serif;
    --third-family: "Roboto", sans-serif;

  }